.info-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 40px;
    
}
.categories-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:10px 20px;
    margin: 10px;

}